<h1>RECIPES!</h1>

<ul>
  {{#each recipes as |resipes|}}
    <li>
      {{recipes.name}}
      {{recipes.ingredients}}
      {{recipes.instructions}}
      {{recipes.user}}
    </li>
  {{/each}}
</ul>