<h1 style="font-size:100px;">Recipes</h1>

<table>
  {{#each recipes as |recipe|}}
  <tr>
    <td>
      <a href="/recipes/{{recipe.id}}">{{recipe.name}}</a>
    </td>
    <td>
      <a href="/recipes/edit/{{recipe.id}}">Edit</a> 
    </td>
  </tr>
  {{/each}}
</table>
<br>
