<footer>
  <a href="/recipes/new">Want to add a recipe to this list? Go ahead! Click here!</a>
</footer>
<h1>
  Recipes:</h1>
  {{#each recipes as |recipe|}}
    <div class="row">
    <div class="column">
      <a href="/recipes/{{recipe.id}}">{{recipe.name}}</a>
    </div>
   {{/each}}
  </div>
  </div>
<style>

  footer{
    text-align: center;
  }
  .column {
    float: left;
    width: 50%;
    flex: 50%;
    background: #a4d555;

  }
.row:after {
    content: "";
    display: table;
    clear: both;
}
  body {
    background-image: url(https://i.imgur.com/FmxOiqW.jpg);
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-position: sticky;
    font-size: 20px;
    margin: 25px;
    padding: 35px;
  }

  h1 {
    font-family: 'Coming Soon', cursive;
    font-size: 60px;
    text-align: center;
    color: #ff599f;
  }

  /*  body {
    background: url(https://i.imgur.com/eAdxEkg.jpg);
    margin: 10px;
    padding: 10px;
    background-size: cover;
  }
  
  
  .wrapper {
    display: grid;
    grid-template-columns: 50%;
    justify-content: space-around;
    grid-column-gap: 2em;
    grid-row-end: 2em;
  }
  .wrapper > div:nth-child(even){
    background: white;
  }
  .wrapper > div:nth-child(odd) {
    background: rgb(160, 156, 156);
  }

a > p {
 display: inline; 
}
*/
</style>

{{!-- a form with one --}}