/* h1 {
  color: #e9c904;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
} */

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

footer {
  color: #e9c904;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/* .wrapper div:nth-child(even) {
  background: white;
}

.wrapper div:nth-child(odd) {
  background: #7cdbd5;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */