// footer & read me citations with a link add features we didnt do in the lab 


header {
  color: #e9c904;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  background: #8fc33a;
  font-family: 'Gaegu', cursive;
  color: white;
  font-size: 20px;
}


footer{
  color: #e9c904;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

